.toggle-mobile-menu {
  position: fixed;
  top: 10.5%;
  left: $base-spacing;
  z-index: $base-z-index + 3;
  padding: $base-spacing;
  color: $white;
  font-size: $base-font-size * 1.8;
  line-height: 0;
  transition-duration: 0.5s;
  transform: translateY(-80%);

  &:hover {
    cursor: pointer;
  }
  
  .mobile-menu--open & {
    top: 8.5%;
    left: 0;
  }

  .nav-icon {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: $white;
    transition-duration: 0.5s;
    
    &:before,
    &:after {
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $white;
      content: '';
      transition-duration: 0.5s;
    }

    &:before {
      top: -$base-spacing * 0.5;
    }
    
    &:after {
      top: $base-spacing * 0.45;
    }
    
    .mobile-menu--open & {
      background: transparent;
      transition-duration: 0.5s;
      
      &:before {
        background-color: $gray--dark;
        transform: rotateZ(45deg) translate(3px, 3.5px);
      }

      &:after {
        background-color: $gray--dark;
        transform: rotateZ(-45deg) translate(5px, -6px);
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: $base-z-index + 2;
  overflow-y: auto;
  padding-top: $base-spacing * 7;
  width: 300px;
  height: 100%;
  background-color: $white;
  transition: all 0.3s ease;
  -webkit-overflow-scrolling: touch;

  .mobile-menu--open & {
    left: 0;
  }

  a {
    display: block;
    padding: $base-spacing * 1.4 $base-spacing * 1.7;
    border-top: $base-border;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
}

.body-wrapper {
  position: relative;
  left: 0;
  z-index: $base-z-index + 1;
  transition: all 0.3s ease;
  height: 100%;

  .mobile-menu--open & {
    left: 150px;
    transition: all 0.3s ease;

    @media screen and (min-width: 1024px) {
      left: 300px;
    }
  }
}

.body-wrapper__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $base-z-index;
  display: block;
  background: $black;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  transition: all 0.3s ease;
  pointer-events: none;

  .mobile-menu--open & {
    z-index: $base-z-index + 1;
    opacity: 0.5;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
    pointer-events: all;
  }
}
