doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Address Book
    meta(name='description', content='An Address Book written in React')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, width=device-width')
    link(rel='stylesheet', href='css/main.css')
  
  body
    .content
        
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(type='text/javascript', src='javascript/compiled.min.js')
