.button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  border-radius: $base-border-radius;
  text-align: center; 
  text-decoration: none;
  cursor: pointer;
}

.button-group {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  .button::-moz-focus-inner {
    margin: 0;
    padding: 0;
  }

  .button:focus {
    outline: 1px dotted;
    outline: 3px auto -webkit-focus-ring-color;
  }
  
  .button:hover,
  .button:focus,
  .button:active {
    text-decoration: none;
  }
  
  .button:disabled,
  .button.is-disabled {
    opacity: 0.65;
    cursor: not-allowed;
    pointer-events: none;
  }

  + .button-group {
    margin-left: 30px;
  }
}

.button-group__item:not(:first-child):not(:last-child) > .button {
  border-radius: 0;
}

.button-group__item > .button {
  @include button($gray--20, $gray--20, $gray);
  display: block;
  padding: 6px 20px 7px;
  width: 100%;
  border: 1px solid $gray--light;
  box-shadow: none;
  color: $gray--dark;
  font-weight: 500;
  font-size: $base-font-size - 1;
}

.button-group__item > .button:hover,
.button-group__item > .button:focus,
.button-group__item > .button:active {
  z-index: 1;
}

.button-group__item > .button--active {
  @include button($white, $white, $blue--light);
}

.button-group--horizontal > .button-group__item {
  display: inline-block;
}

.button-group--horizontal > .button-group__item:first-child:not(:only-child) {
  margin-left: 0;

  > .button {
    border-right: 0;
    border-top-left-radius: $base-spacing * 4;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: $base-spacing * 4;
  }
}

.button-group--horizontal > .button-group__item:last-child:not(:only-child) > .button {
  border-left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: $base-spacing * 4;
  border-bottom-right-radius: $base-spacing * 4;
  border-bottom-left-radius: 0;
}
