[type="text"],
[type="password"],
[type="email"] {
  padding: 7px 12px;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.19);

  &:focus {
    outline: 0;
    border: 1px solid $gray;
  }

  &:disabled {
    background-color: $gray--20;
  }

  &.error {
    border: 1px solid $accent-red;
  }

  &.success {
    border: 1px solid $green;
  }
}
